.boardArticle table {width:100%; 0;border: 1px solid #444444; }

.boardArticle th {padding:5px 0;border-top:2px solid #666;border-bottom:1px solid #666; background-color: #477100; color : #FFFFFF;}

.boardArticle td {padding:8px 0;border-bottom: 1px solid #666; background-color: #90B651; color : #000000;}
.boardArticle .no {width:60px;text-align:center}
.boardArticle .title {}
.boardArticle .author {width:100px;text-align:center}
.boardArticle .date {width:100px;text-align:center}
.boardArticle .hit {width:40px;text-align:center}

.boardArticle tda {padding:0px 0;border-left: 0px solid #666; background-color: #90B651; color : #000000;}
.boardArticle .in {width:500px;text-align:center}
